
:root {
  /* :root is a clever way of saying "the outer-most element" */
  /* --selected-icon-bg-url: yellow;
  --unselected-icon-bg-url: green; */
}

li-rating .rating-meter-container {
  height: 100%;
  width: 100%;
}

li-rating meter {
  width: 100%;
  height: 100%;
}

li-rating meter::-webkit-meter-bar {
  width: 100%;
  height: 100%;
  background: var(--unselected-icon-bg-url);
}

/* meter::-webkit-meter-bar:hover {
  background: var(--selectedHover-icon-bg-url);
  width: 50%; /* var(--selectedHover-width); */
/* } */

li-rating meter::-webkit-meter-optimum-value {
  background: var(--selected-icon-bg-url);
}


