:root {
  /* :root is a clever way of saying "the outer-most element" */
}

li-rating .rating-meter-container {
  height: 100%;
  width: 100%;
}

li-rating meter {
  width: 100%;
  height: 100%;
}

li-rating meter::-webkit-meter-bar {
  width: 100%;
  height: 100%;
  background: var(--unselected-icon-bg-url);
}

li-rating meter::-webkit-meter-optimum-value {
  background: var(--selected-icon-bg-url);
}
