<div class="main-wrapper">
  <!-- example default li-rating -->
  <div class="li-rating-wrapper">
    <label>Default li-rating component :</label>
    <div class="rating-holder">
      <div style="width: 100px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueOne" font-size="45" total-icons="2" stroke-color="#FF66E5"
          stroke-width="1" color="#FF99FF"></li-rating>
      </div>
      <label>{{ratingValueOne}}</label>
    </div>
  </div>

  <!-- example default li-rating -->
  <div class="li-rating-wrapper">
    <label>Default li-rating component with default value :</label>
    <div class="rating-holder">
      <div style="width: 150px; height: 100%;">
        <li-rating ngDefaultControl value="1.6" (input)="onChangeRating($event)" text-icon="✷" font-size="60"
          total-icons="3" stroke-color="#5D4202" stroke-width="1" color="#D19507"></li-rating>
      </div>
      <label>{{ratingValueTwo}}</label>
    </div>
  </div>

  <!-- example default li-rating with fill mode full-->
  <div class="li-rating-wrapper">
    <label>Default li-rating component with fill-mode: full</label>
    <div class="rating-holder">
      <div style="width: 150px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueThree" font-size="45" text-icon="♬" total-icons="3"
          color="#660066" fill-mode="full">
        </li-rating>
      </div>
      <label>{{ratingValueThree}}</label>
    </div>
  </div>

  <!-- example default li-rating with fill mode half-->
  <div class="li-rating-wrapper">
    <label>Default li-rating component with fill-mode: half</label>
    <div class="rating-holder">
      <div style="width: 150px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueFour" font-size="60" text-icon="❖" total-icons="3"
          color="rgb(0, 0, 153)" fill-mode="half"></li-rating>
      </div>
      <label>{{ratingValueFour}}</label>
    </div>
  </div>

  <!-- example text icon with color -->
  <div class="li-rating-wrapper">
    <label>Text icon with color :</label>
    <div class="rating-holder">
      <div style="width: 170px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueFive" text-icon="♣" total-icons="4"
          stroke-color="rgb(2, 55, 176)" stroke-width="1" color="rgb(0, 102, 255)" font-size="56">
        </li-rating>
      </div>
      <label>{{ratingValueFive}}</label>
    </div>
  </div>

  <!-- example text icon with color & stroke -->
  <div class="li-rating-wrapper">
    <label>Text icon with stroke color and width :</label>
    <div class="rating-holder">
      <div style="width: 190px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueSix" text-icon="♥" font-size="56"
          stroke-color="rgb(179, 0, 89)" stroke-width="1" color="rgb(255, 0, 128)">
        </li-rating>
      </div>
      <label>{{ratingValueSix}}</label>
    </div>
  </div>

  <!-- example text icon with total icons -->
  <div class="li-rating-wrapper">
    <label>Text icons with number of icons :</label>
    <div class="rating-holder">
      <div style="width: 220px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueSeven" text-icon="♠" stroke-color="rgb(7, 8, 9)"
          stroke-width="1" font-size="55" total-icons="6">
        </li-rating>
      </div>
      <label>{{ratingValueSeven}}</label>
    </div>
  </div>

  <!-- example font-awesome svg icon with color -->
  <div class="li-rating-wrapper">
    <label>Font-awesome SVG icon with color :</label>
    <div class="rating-holder">
      <div style="width: 260px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueEight" id="liRatingFontAwesome" total-icons="7"
          color="rgb(0, 153, 0)">
        </li-rating>
      </div>
      <label>{{ratingValueEight}}</label>
    </div>
  </div>

  <!-- example svg icon from given path -->
  <div class="li-rating-wrapper">
    <label>SVG icon from path :</label>
    <div class="rating-holder">
      <div style="width: 290px; height: 40px;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueNine" total-icons="8" color="#00ADBF"
          svg-icon-path="assets/smily.svg">
        </li-rating>
      </div>
      <label>{{ratingValueNine}}</label>
    </div>
  </div>

  <!-- example svg icon from given path with color -->
  <div class="li-rating-wrapper">
    <label>SVG icon from path :</label>
    <div class="rating-holder">
      <div style="width: 320px; height: 100%;">
        <li-rating ngDefaultControl [(ngModel)]="ratingValueTen" svg-icon-path="assets/grin-hearts.svg" total-icons="9"
          color="rgb(249, 5, 20)">
        </li-rating>
      </div>
      <label>{{ratingValueTen}}</label>
    </div>
  </div>
</div>
